@font-face {
    font-family: 'pdma-ext1';
    src:  url('/assets/fonts/pdma-ext1.eot?94x3e7');
    src:  url('/assets/fonts/pdma-ext1.eot?94x3e7#iefix') format('embedded-opentype'),
    url('/assets/fonts/pdma-ext1.ttf?94x3e7') format('truetype'),
    url('/assets/fonts/pdma-ext1.woff?94x3e7') format('woff'),
    url('/assets/fonts/pdma-ext1.svg?94x3e7#pdma-ext1') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="pdma-ext1-icon-"], [class*=" pdma-ext1-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pdma-ext1' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pdma-ext1-icon-puzzle:before {
    content: "\e900";
}
.pdma-ext1-icon-puzzle-2:before {
    content: "\e901";
}
.pdma-ext1-icon-lab:before {
    content: "\e902";
}
.pdma-ext1-icon-lab-2:before {
    content: "\e903";
}
.pdma-ext1-icon-life-insurance:before {
    content: "\e904";
}
.pdma-ext1-icon-life-insurance-2:before {
    content: "\e906";
}
.pdma-ext1-icon-life-insurance-3:before {
    content: "\e907";
}
.pdma-ext1-icon-liver:before {
    content: "\e909";
}
.pdma-ext1-icon-liver-2:before {
    content: "\e90a";
}
.pdma-ext1-icon-lungs:before {
    content: "\e90b";
}
.pdma-ext1-icon-pills:before {
    content: "\e90c";
}
.pdma-ext1-icon-pills-2:before {
    content: "\e90d";
}
.pdma-ext1-icon-pregnancy:before {
    content: "\e90f";
}
.pdma-ext1-icon-pregnancy-2:before {
    content: "\e910";
}
