<div class="page-bar">
    <h3 class="page-title pull-left"><i class="fa fa-flask"></i> Tư vấn - xét nghiệm HIV</h3>
    <ul class="page-breadcrumb pull-right hidden-xs">
        <li>
            <a href="#/reporting/weekly/dashboard">Trang chủ</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Tư vấn - xét nghiệm HIV</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="uppercase">
                                    <a href="#hts" uib-tooltip="Danh sách khách hàng" tooltip-placement="auto"><i class="fa fa-wheelchair-alt"></i><span class="hidden-xs hidden-sm hidden-md">Danh sách khách hàng</span></a>
                                </li>
<!--                                <li class="uppercase">-->
<!--                                    <a href="#hts-add" uib-tooltip="Thêm khách hàng mới"><i-->
<!--                                        class="fa fa-wheelchair-alt"></i><span class="hidden-xs "> Khách hàng-->
<!--                                        mới</span></a>-->
<!--                                </li>-->
                                <li class="active  uppercase">
                                    <a href="#hts-report" uib-tooltip="Báo&nbsp;cáo" tooltip-placement="auto"><i class="fa fa-bar-chart"></i><span class="hidden-xs"> Báo cáo</span></a>
                                </li>
                            </ul>
                            <div class="tab-content summary-panel">
                                <div class="tab-pane active">
                                    <div class="display-block no-content1 margin-top-10 font-weight-500">
                                        Nội dung này đang được xây dựng...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<div ng-include="'_treatment/views/fragments/_delete.html?v=' + settings.versionNumber"></div>
<!-- BEGIN MAIN JS-->


<!-- BEGIN MAIN JS -->