<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <h3 class="page-title pull-left"><i class="fa fa-share-alt"></i> SNS</h3>
    <ul class="page-breadcrumb pull-right hidden-xs">
        <li>
            <a href="#/dashboard">Trang chủ</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/prevention/sns_summary">SNS</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Thống kê chung</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs ">
                                <li class="active uppercase">
                                    <a href="#" uib-tooltip="Tổng quan"><i class="fa fa-area-chart"></i><span class="hidden-xs" ng-class="{'hidden-sm' : isSiteManager(currentUser) || (vm.selectedEntry && vm.selectedEntry.person)}"> Tổng quan</span></a>
                                </li>
                                <li class="uppercase">
                                    <a href="#/prevention/sns" uib-tooltip="Danh sách"><i class="fa fa-wheelchair-alt"></i><span class="hidden-xs hidden-sm hidden-md"> Khách hàng</span></a>
                                </li>
                                <li class="uppercase">
                                    <a href="#/prevention/sns_report" uib-tooltip="Báo&nbsp;cáo"><i class="fa fa-bar-chart"></i><span class="hidden-xs"> Báo cáo</span></a>
                                </li>
                            </ul>
                            <div class="tab-content summary-panel">
                                <div class="tab-pane active">
                                    <div class="display-block no-content1 margin-top-10 font-weight-500">
                                        Nội dung này đang được xây dựng...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<div ng-include="'_treatment/views/fragments/_delete.html?v=' + settings.versionNumber"></div>
<!-- BEGIN MAIN JS-->


<!-- BEGIN MAIN JS -->