<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <h3 class="page-title pull-left"><i class="pdma-ext1-icon-lab-2 margin-right-5"></i> Xét nghiệm nhiễm mới</h3>
    <ul class="page-breadcrumb pull-right hidden-xs">
        <li>
            <a href="#/opc/patients"><i class="fa fa-th-large"></i> Danh sách</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/opc/view-patient/{{vm.patient.id}}">{{vm.patient.theCase.person.fullname}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Xét nghiệm nhiễm mới</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs sticky-panel" hl-sticky="" sticky-class="is-sticky custom-alt">
                                <li class="uppercase">
                                    <a href="#/opc-dashboard" uib-tooltip="Tổng quan"><i class="fa fa-area-chart"></i><span class="hidden-xs" ng-class="{'hidden-sm' : isSiteManager(currentUser) || (vm.selectedEntry && vm.selectedEntry.theCase.person)}"> Tổng quan</span></a>
                                </li>
                                <li class="uppercase">
                                    <a href="#/opc/patients" uib-tooltip="Quản&nbsp;lý bệnh&nbsp;nhân"><i class="fa fa-wheelchair-alt"></i><span class="hidden-xs hidden-sm hidden-md"> Bệnh nhân</span></a>
                                </li>
                                <li class="uppercase" ng-if="isSiteManager(currentUser)">
                                    <a href="#/opc/appointment-cal" uib-tooltip="Lịch&nbsp;khám"><i class="icon-calendar"></i><span class="hidden-xs"> Lịch khám</span></a>
                                </li>
                                <li class="uppercase">
                                    <a href="#/opc/report" uib-tooltip="Báo&nbsp;cáo"><i class="fa fa-bar-chart"></i><span class="hidden-xs"> Báo cáo</span></a>
                                </li>
                                <li class="active uppercase">
                                    <a href="#">{{vm.patient.person.fullname}}</a>
                                </li>
                                <li class="uppercase" ng-if="vm.editingEntry">
                                    <a uib-tooltip="Cập&nbsp;nhật&nbsp;hồ&nbsp;sơ" href="#/opc/edit-patient/{{vm.editingEntry.id ? vm.editingEntry.id : 0}}"><i class="icon-pencil"></i> {{vm.editingEntry.theCase.person && vm.editingEntry.theCase.person.fullname ? vm.editingEntry.theCase.person.fullname : 'Bệnh nhân mới'}}</a>
                                </li>
                            </ul>
                            <div class="tab-content summary-panel">
                                <div class="tab-pane active margin-bottom-30">
                                    <div class="info-box-alt"><span class="bold"><i class="fa fa-lightbulb-o"></i> Chỉ dẫn:</span> Mục này giúp ghi nhận các lần xét nghiệm nhiễm mới của bệnh nhân {{vm.patient.theCase.person.fullname}}.</div>
                                    <div class="opc-toolbar margin-top-10 margin-bottom-10">
                                        <button data-ng-disabled="vm.orgsWritable.length <= 0 || !vm.patient.editable" ng-click="vm.openAddRecencyTest();" class="btn btn-default no-border" uib-tooltip="Thêm&nbsp;yêu&nbsp;cầu&nbsp;XN&nbsp;TLVR"><i class="fa fa-plus"></i><span class="hidden-xs">Thêm yêu cầu xét nghiệm</span></button>
                                        <div class="vertical-seperator float-right"></div>
                                        <a href="#/opc/view-patient/{{vm.patient.id}}" uib-tooltip="Quay&nbsp;trở&nbsp;lại" class="btn btn-default no-border"><i class="fa fa-arrow-left"></i> Trở lại</a>
                                    </div>
                                    <table id="bsTableControl" bs-table-control="vm.bsTableControl"></table>
                                    <!--<div class="loading-button btn btn-default">Đang tải dữ liệu...</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

<script type="text/ng-template" id="edit_entry_modal.html">
    <div modal-movable auto-height="yes">
        <div class="modal-header">
            <button type="button" class="close" data-ng-disabled="true" aria-hidden="true"></button>
            <h4 class="modal-title" ng-if="vm.entry.isNew == true"><i class="icon-plus"></i> Thêm yêu cầu xét nghiệm</h4>
            <h4 class="modal-title" ng-if="vm.entry.isNew == false"><i class="icon-pencil"></i> Sửa yêu cầu xét nghiệm</h4>
        </div>
        <div class="modal-body summary-panel">
            <div class="section-head margin-top-10"><span class="text-muted">&#9312;</span> Xét nghiệm sàng lọc nhiễm mới</div>
            <div class="row margin-top-20">
                <div class="col-xs-4 form-controller-alt-2">
                    <label class="bold">Ngày lấy mẫu</label>
                    <input id="vm.entry.screenSampleDate" class="form-control" placeholder="Chọn ngày..."
                           ng-flatpickr
                           fp-opts="vm.datepicker1.dateOpts"
                           fp-on-setup="vm.datepicker1.datePostSetup(fpItem)"
                           ng-model="vm.entry.screenSampleDate"
                           data-enabletime="false" />
                    <a ng-if="vm.entry.screenSampleDate" class="clear-picker input-has-label" ng-click="vm.datepicker1.clear()" href="#"><i class="icon-close"></i> <span>xoá</span></a>
                </div>
                <div class="col-xs-4 form-controller-alt-2">
                    <label class="bold">Ngày làm xét nghiệm</label>
                    <input id="vm.entry.screenTestDate" class="form-control" placeholder="Chọn ngày..."
                           ng-flatpickr
                           fp-opts="vm.datepicker2.dateOpts"
                           fp-on-setup="vm.datepicker2.datePostSetup(fpItem)"
                           ng-model="vm.entry.screenTestDate"
                           data-enabletime="false" />
                    <a ng-if="vm.entry.screenTestDate" class="clear-picker input-has-label" ng-click="vm.datepicker2.clear()" href="#"><i class="icon-close"></i> <span>xoá</span></a>
                </div>
                <div class="col-xs-4">
                    <label class="bold">Kết quả xét nghiệm</label>
                    <ui-select id="vm.entry.screenResult" ng-model="vm.entry.screenResult" ng-change="vm.onScreeningResult()" sortable="true" close-on-select="true" style="width: 100%!important;">
                        <ui-select-match allow-clear="false" placeholder="Xin mời chọn...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="r.id as r in vm.results | filter: {name: $select.search}">
                            <div class="bold" ng-bind-html="r.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="row" ng-if="vm.entry.screenResult == 'RECENT'">
                <div class="col-xs-8">
                    <div class="section-head margin-top-20"><span class="text-muted">&#9313;</span> Xét nghiệm tải lượng virus</div>
                    <div class="row margin-top-20">
                        <div class="col-xs-6 form-controller-alt-2">
                            <label class="bold">Ngày lấy mẫu</label>
                            <input id="vm.entry.vlTestDate" class="form-control" placeholder="Chọn ngày..."
                                   ng-flatpickr
                                   fp-opts="vm.datepicker3.dateOpts"
                                   fp-on-setup="vm.datepicker3.datePostSetup(fpItem)"
                                   ng-model="vm.entry.vlTestDate"
                                   data-enabletime="false" />
                            <a ng-if="vm.entry.vlTestDate" class="clear-picker input-has-label" ng-click="vm.datepicker3.clear()" href="#"><i class="icon-close"></i> <span>xoá</span></a>
                        </div>
                        <div class="col-xs-6">
                            <label class="bold">Kết quả tải lượng virus</label>
                            <input type="text" class="form-control" id="vm.entry.vlResult" ng-model="vm.entry.vlResult" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="section-head margin-top-20"><span class="text-muted">&#9314;</span> Khẳng định nhiễm mới</div>
                    <div class="row margin-top-20">
                        <div class="col-xs-12">
                            <label class="bold">Kết quả xét nghiệm</label>
                            <ui-select id="vm.entry.confirmResult" ng-model="vm.entry.confirmResult" sortable="true" close-on-select="true" style="width: 100%!important;">
                                <ui-select-match allow-clear="false" placeholder="Xin mời chọn...">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="r.id as r in vm.results | filter: {name: $select.search}">
                                    <div class="bold" ng-bind-html="r.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
            <button type="button" ng-click="vm.saveEntry()" class="btn btn-primary" data-dismiss="modal">Lưu lại</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="delete_entry_modal.html">
    <div modal-movable auto-height="yes">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title">Xoá bản ghi</h4>
        </div>
        <div class="modal-body has-icon">
            <div><i class="icon-exclamation"></i></div>
            <div><span>Bạn có chắc chắn muốn xoá bản ghi đã chọn không?</span></div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close margin-right-10"></i>Không</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-danger no-border" data-dismiss="modal"><i class="fa fa-check margin-right-10"></i>Có</button>
        </div>
    </div>
</script>

<div ng-include="'_treatment/views/fragments/_noneditable_alert.html?v=' + settings.versionNumber"></div>