<script type="text/ng-template" id="confirmation.html">
    <div modal-movable auto-height="yes">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title">{{vm.dialog.title}}</h4>
        </div>
        <div class="modal-body has-icon">
            <div><i class="{{vm.dialog.icon ? vm.dialog.icon : 'icon-question'}}"></i></div>
            <div><span><div class="font-weight-500" ng-bind-html="vm.dialog.message"></div>
            </span></div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="vm.dialog.callback('yes');" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check margin-right-10"></i>{{vm.dialog.yes ? vm.dialog.yes : 'Có'}}</button>
            <button type="button" ng-click="vm.dialog.callback('no');" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close margin-right-10"></i>{{vm.dialog.no ? vm.dialog.no : 'Không'}}</button>
        </div>
    </div>
</script>